.markdownEditor {
   height: 350px;
}

.editor {
   font-size: 14px;
   line-height: normal;

   overflow: paged-x;

   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box; /* Firefox, other Gecko */
   box-sizing: border-box; /* Opera/IE 8+ */
   width: 100%;
   height: 96%;

   padding: 10px 10px;

   border: 1px solid gray;
}

.editor:focus {
   outline: 0;
}

.title {
   text-align: center;
   color: #423C3C;
   font-weight: bolder;
}
