.markdownPreview {

}

.preview {
   font-size: 14px;
   line-height: normal;

   overflow: auto;
   border: 1px solid gray;

   padding: 10px 10px;

   letter-spacing: 2px;
   word-wrap: break-word;

   background-color: white;
}

.title {
   text-align: center;
   color: #423C3C;
   font-weight: bolder;
}
